<%= form_with model: appetizer, url: appetizers_path do |f| %>
  <%= f.label :alcohol, 'お酒' %>
  <%= f.collection_select :alcohol_id, Alcohol.all, :id, :name, { include_blank: '未選択' }, class: 'border border-gray-400 rounded-lg w-full px-5 py-3 mb-5' %>

  <%= f.label :base_ingredient, 'ベースの食材' %>
  <%= f.collection_select :base_ingredient_id, Ingredient.where(category: 'base'), :id, :name, { include_blank: '未選択' }, class: 'border border-gray-400 rounded-lg w-full px-5 py-3 mb-5' %>

  <%= f.label :sub_ingredient, 'サブの食材' %>
  <%= f.collection_select :sub_ingredient_id, Ingredient.where(category: 'sub'), :id, :name, { include_blank: '未選択' }, class: 'border border-gray-400 rounded-lg w-full px-5 py-3 mb-5' %>

  <%= f.label :accent_ingredient, 'アクセントの食材' %>
  <%= f.collection_select :accent_ingredient_id, Ingredient.where(category: 'accent'), :id, :name, { include_blank: '未選択' }, class: 'border border-gray-400 rounded-lg w-full px-5 py-3' %>

  <div class="sm-text-lg font-semibold text-center">
    <%= f.submit '提案してもらう', class: 'bg-point hover:bg-yellow-400 shadow-xl my-10 rounded-full px-5 py-3' %>
  </div>
<% end %>
