<% content_for(:title, t('.title')) %>
<div class="mx-auto w-5/6 max-w-screen-sm">
  <h1 class="text-lg sm:text-2xl font-bold my-20 text-center"><%= t('.title') %></h1>
  <%= form_with model: @user, url: password_reset_path(@token), local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="mb-5">
      <%= f.label :email %>
      <p><%= @user.email %></p>
    </div>
    <div class="mb-5">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'input border-gray-400 w-full' %>
    </div>
    <div class="mb-5">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'input border-gray-400 w-full' %>
    </div>
    <div class="sm-text-lg font-semibold text-center">
      <%= f.submit t('helpers.submit.password_change'), class: 'text-sm sm:text-base bg-point hover:bg-yellow-400 shadow-xl my-10 rounded-full p-3' %>
    </div>
  <% end %>
</div>
