<% if comment.user == current_user %>
  <div class="chat chat-end" id="comment-<%= comment.id %>">
<% else %>
  <div class="chat chat-start" id="comment-<%= comment.id %>">
<% end %>
  <div class="chat-image avatar">
    <div class="w-10 rounded-[5px]">
      <% if comment.user.avatar? %>
        <%= image_tag comment.user.avatar.url %>
      <% else %>
        <%= image_tag 'default.jpg' %>
      <% end %>
    </div>
  </div>
  <div class="chat-header">
    <%= link_to comment.user.name, comment.user == current_user ? profile_path : user_path(comment.user), class: 'hover:text-yellow-400' %>
    <time class="text-xs opacity-50">
      <%= l comment.created_at, format: :long %>
    </time>
  </div>
  <div class="chat-bubble">
    <%= simple_format(comment.body) %>
  </div>
  <div class="chat-footer">
    <% if logged_in? && current_user.own?(comment) %>
      <%= link_to comment_path(comment), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.deleted_confirm') } do %>
        <i class="fa-regular fa-trash-can fa-lg hover:text-red-500"></i>
      <% end %>
    <% end %>
  </div>
</div>