<div class="w-full md:p-4">
  <div class="border bg-amber-50 shadow-xl rounded-lg px-6 py-4 mb-10">
    <div class="flex flex-col xl:flex-row">
      <div class="xl:w-1/2 text-left flex flex-col justify-center xl:pt-10">
        <%= link_to '投稿一覧', posts_path, class: 'text-lg font-bold bg-yellow-400 rounded-lg shadow-lg hover:bg-yellow-300 px-4 py-2 mx-auto' %>
        <div class="text-left py-3 xl:py-10 mx-auto">
          ユーザーが投稿したお酒&おつまみの投稿一覧です。<br>
          タイトル・本文、お酒のジャンル、おつまみのジャンルで検索できます。
        </div>
      </div>
      <div class="xl:w-1/2 flex justify-center">
        <img src="https://i.gyazo.com/6d2e0d5b4890d1e75f9e1a3f917b4511.gif" alt="投稿一覧の操作動画" width="600"/>
      </div>
    </div>
  </div>
  <div class="border bg-amber-50 shadow-xl rounded-lg px-6 py-4 mb-10">
    <div class="flex flex-col xl:flex-row">
      <div class="xl:w-1/2 text-left flex flex-col justify-center xl:pt-10">
        <%= link_to '投稿する', new_post_path, class: 'text-lg font-bold bg-yellow-400 rounded-lg shadow-lg hover:bg-yellow-300 px-4 py-2 mx-auto' %>
        <div class="text-left py-3 xl:py-10 mx-auto">
          <p class="mb-5">おすすめのお酒&おつまみを投稿して、みんなに共有してみましょう。</p>
          <i class="fa-solid fa-triangle-exclamation text-yellow-400"></i>ログインが必要です
        </div>
      </div>
      <div class="xl:w-1/2 flex justify-center">
        <img src="https://i.gyazo.com/a29503ad4efa9b452d7e167a901c5664.gif" alt="投稿作成の操作動画" width="600"/>
      </div>
    </div>
  </div>
  <div class="border bg-amber-50 shadow-xl rounded-lg px-6 py-4 mb-10">
    <div class="flex flex-col xl:flex-row">
      <div class="xl:w-1/2 text-left flex flex-col justify-center xl:pt-10">
        <%= link_to '投稿詳細', posts_path, class: 'text-lg font-bold bg-yellow-400 rounded-lg shadow-lg hover:bg-yellow-300 px-4 py-2 mx-auto' %>
        <div class="text-left py-3 xl:py-10 mx-auto">
          <p>投稿一覧ページから投稿を選択すると、詳細情報を確認できます。</p>
          <p class="mb-5">投稿の編集・削除、X共有、いいね、店の位置確認、コメントができます。</p>
          <i class="fa-solid fa-triangle-exclamation text-yellow-400"></i>投稿の編集・削除、いいね、コメントは、ログインが必要です
        </div>
      </div>
      <div class="xl:w-1/2 flex justify-center">
        <img src="https://i.gyazo.com/d079a35939a8007f96c23b68d2c8ffa2.gif" alt="投稿詳細の操作動画" width="600"/>
      </div>
    </div>
  </div>
  <div class="border bg-amber-50 shadow-xl rounded-lg px-6 py-4 mb-10">
    <div class="flex flex-col xl:flex-row">
      <div class="xl:w-1/2 text-left flex flex-col justify-center xl:pt-10">
        <%= link_to 'AI組合せ', new_appetizer_path, class: 'text-lg font-bold bg-yellow-400 rounded-lg shadow-lg hover:bg-yellow-300 px-4 py-2 mx-auto' %>
        <div class="text-left py-3 xl:py-10 mx-auto">
          <p>「このお酒には何が合うの？」</p>
          <p>「家にある食材でおつまみ作れるかな？」</p>
          <p class="mb-5">そんな時は、お酒と3つの食材を選択して、AIに提案してもらいましょう!!</p>
          <i class="fa-solid fa-triangle-exclamation text-yellow-400"></i>ログインが必要です
        </div>
      </div>
      <div class="xl:w-1/2 flex justify-center">
        <img src="https://i.gyazo.com/3db1c34c544e49fa75cfde746ead8a27.gif" alt="投稿作成の操作動画" width="600"/>
      </div>
    </div>
  </div>
  <div class="border bg-amber-50 shadow-xl rounded-lg px-6 py-4 mb-10">
    <div class="flex flex-col xl:flex-row">
      <div class="xl:w-1/2 text-left flex flex-col justify-center xl:pt-10">
        <%= link_to 'マイページ', login_path, class: 'text-lg font-bold bg-yellow-400 rounded-lg shadow-lg hover:bg-yellow-300 px-4 py-2 mx-auto' %>
        <div class="text-left py-3 xl:py-10 mx-auto">
          <p>マイページから、過去の投稿一覧、いいねした投稿一覧、AI組合せ一覧、</p>
          <p class="mb-5">プロフィール設定にアクセスできます。</p>
          <i class="fa-solid fa-triangle-exclamation text-yellow-400"></i>ログインが必要です
        </div>
      </div>
      <div class="xl:w-1/2 flex justify-center">
        <img src="https://i.gyazo.com/ba46d5159443cf6b296d0a649f3c8ddf.gif" alt="マイページの操作動画" width="600"/>
      </div>
    </div>
  </div>
  <div class="border bg-amber-50 shadow-xl rounded-lg px-6 py-4 mb-10">
    <div class="flex flex-col xl:flex-row">
      <div class="xl:w-1/2 text-left flex flex-col justify-center xl:pt-10">
        <%= link_to 'AI組合せの回答結果', login_path, class: 'text-lg font-bold bg-yellow-400 rounded-lg shadow-lg hover:bg-yellow-300 px-4 py-2 mx-auto' %>
        <div class="text-left py-3 xl:py-10 mx-auto">
          <p>AI組合せの回答結果は、マイページより確認できます。</p>
          <p class="mb-5">お酒、おつまみの組合せ解説、使用材料、作り方が表示されます。</p>
          <i class="fa-solid fa-triangle-exclamation text-yellow-400"></i>ログインが必要です
        </div>
      </div>
      <div class="xl:w-1/2 flex justify-center">
        <img src="https://i.gyazo.com/04acf3da8c14865f4d71b044250dfbda.gif" alt="AI組合せ回答結果の操作動画" width="600"/>
      </div>
    </div>
  </div>
</div>