<% content_for(:title, t('.title')) %>
<div class="mx-auto w-5/6 max-w-screen-sm md:pt-24">
  <h1 class="text-lg sm:text-2xl font-bold my-10 text-center"><%= t('.title') %></h1>
  <div class="flex justify-start items-center mb-5">
    <% if @user.avatar? %>
      <%= image_tag @user.avatar.url, class:"rounded-[5px] w-20 h-20 mr-10" %>
    <% else %>
      <%= image_tag 'default.jpg', class:"rounded-[5px] w-20 h-20 mr-5" %>
    <% end %>
    <div class="text-2xl">
      <%= @user.name %>
    </div>
  </div>
  <% if @user.profile? %>
    <%= simple_format(@user.profile) %>
  <% else %>
    プロフィール未入力
  <% end %>
  <div class="mt-10">
    <%= link_to '過去の投稿一覧を見る', user_posts_path(@user), class: 'hover:text-yellow-400 hover:border-yellow-400 border-b border-gray-500' %>
    <%= link_to 'AI組合せを見る', user_appetizers_path(@user), class: 'hover:text-yellow-400 hover:border-yellow-400 border-b border-gray-500' %>
  </div>
</div>