<%= form_with model: post, id: 'new_post' do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-5">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, class: 'input border-gray-400 w-full', placeholder: Post.human_attribute_name(:title) %>
  </div>
  <div class="flex flex-col sm:flex-row mb-5">
    <div class="w-full sm:w-1/2 mb-5 sm:mb-0">
      <%= f.label :alcohol, 'お酒' %>
      <%= f.text_field :alcohol, class: 'input border-gray-400 w-full', placeholder: "#{Post.human_attribute_name(:alcohol)}の名前" %>
    </div>
    <div class="w-full sm:w-1/2">
      <%= f.label :alcohol_genre, 'お酒のジャンル' %>
      <%= f.select :alcohol_genre_id, AlcoholGenre.all.map { |genre| [genre.genre, genre.id] }, { include_blank: "未選択" }, class: 'border border-gray-400 rounded-lg w-full px-5 py-3' %>
    </div>
  </div>
  <div class="flex flex-col sm:flex-row mb-5">
    <div class="w-full sm:w-1/2 mb-5 sm:mb-0">
      <%= f.label :appetizer, 'おつまみ' %>
      <%= f.text_field :appetizer, class: 'input border-gray-400 w-full', placeholder: "#{Post.human_attribute_name(:appetizer)}の名前" %>
    </div>
    <div class="w-full sm:w-1/2">
      <%= f.label :appetizer_genre, 'おつまみのジャンル' %>
      <%= f.select :appetizer_genre_id, AppetizerGenre.all.map { |genre| [genre.genre, genre.id] }, { include_blank: "未選択" }, class: 'border border-gray-400 rounded-lg w-full px-5 py-3' %>
    </div>
  </div>
  <div class="mb-5">
    <%= f.label :body, '本文' %>
    <%= f.text_area :body, class: 'border border-gray-400 rounded-[10px] w-full p-2', rows: 3, placeholder: Post.human_attribute_name(:body) %>
  </div>
  <div class="mb-5">
    <%= f.label :address, 'スポット名' %>
    <%= f.text_field :address, id: 'address', class: 'border border-gray-400 rounded-[10px] w-full p-2', rows: 3, placeholder: "スポット名を入力してください" %>
  </div>
  <div class="flex flex-col sm:flex-row mb-5">
    <div class="w-full md:w-1/2 mb-5">
      <%= f.label :post_image %>
      <%= f.file_field :post_image, class: 'file-input file-input-bordered w-full max-w-xs', id: 'input' %>
      <%= f.hidden_field :post_image_cache %>
    </div>
    <div class="flex sm:justify-end w-full md:w-1/2">
      <%= image_tag post.post_image.url, id: 'preview', size: '200x100' %>
    </div>
  </div>
  <div class="sm-text-lg font-semibold text-center">
    <%= f.submit t('helpers.submit.post'), class: 'bg-point hover:bg-yellow-400 shadow-xl my-10 rounded-full w-1/3 py-3' %>
  </div>
<% end %>
<script>
  function initAutocomplete() {
    var addressInput = document.getElementById('address');
    var validPlaceSelected = false; // ユーザーが候補から選択したかどうかを判定する真偽値

    var autocomplete = new google.maps.places.Autocomplete(addressInput, {
      types: ['restaurant', 'bar'],
      componentRestrictions: {country: "jp"} // 日本国内の住所のみ検索
    });

    // 住所選択時のイベントリスナー
    autocomplete.addListener('place_changed', function() {
      var place = autocomplete.getPlace();
      validPlaceSelected = !!place.geometry;  // 有効な場所が選択されたかを更新
    });
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&libraries=places&callback=initAutocomplete"></script>