<div class="w-full lg:w-1/3 md:w-1/2 p-4">
  <div class="border border-gray-500 bg-white p-4 rounded-lg">
    <div class="flex flex-row justify-between">
      <div class="flex flex-row items-center">
        <%= image_tag 'default.jpg', class: 'rounded-[10px] h-7 w-7 border mr-2' %>
        <%= link_to post.user.name, '#' %>
      </div>
      <%= l post.created_at, format: :long %>
    </div>
    <div class="flex items-center justify-center w-full h-64 ">
      <% if post.post_image? %>
        <%= image_tag post.post_image.url, class: 'max-w-full max-h-full' %>
      <% else %>
        <%= image_tag 'post_placeholder.png', class: 'max-w-full max-h-full' %>
      <% end %>
    </div>
    <div class="space-y-2">
      <%= link_to post.title, post_path(post) %>
      <P>お酒：<%= post.alcohol %></p>
      <P>おつまみ：<%= post.appetizer %></p>
    </div>
  </div>
</div>