<% content_for(:title, @post.title) %>
<div class="container px-5 pt-12 md:pt-24 pb-10 mx-auto">
  <h1 class="text-lg sm:text-2xl font-bold my-20 text-center"><%= t('.title') %></h1>
  <div class="flex flex-wrap md:justify-between mb-5">
    <div class="flex justify-end w-full md:w-1/2 pr-10">
      <%= image_tag @post.post_image.url, size: '500x400' %>
    </div>
    <div class="w-full md:w-1/2 pl-10">
      <% if current_user.own?(@post) %>
        <div class="flex justify-end space-x-5">
          <%= link_to edit_post_path(@post) do %>
            <i class="fa-regular fa-pen-to-square"></i>
          <% end %>
          <%= link_to post_path(@post), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.deleted_confirm') } do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
        </div>
      <% end %>
      <ul class="space-y-2 text-lg mb-5">
        <li><%= @post.title %></li>
        <li>お酒：<%= @post.alcohol %>（<%= @post.alcohol_genre.genre %>）</li>
        <li>おつまみ：<%= @post.appetizer %>（<%= @post.appetizer_genre.genre %>）</li>
      </ul>
      <div class="flex justify-start">
        <% unless current_user.own?(@post) %>
          <%= render 'posts/like_button', { post: @post} %>
        <% end %>
        <%= link_to "https://twitter.com/share?url=#{post_url(@post)}&text=#{ERB::Util.url_encode("今日のお酒&おつまみは「#{@post.alcohol}&#{@post.appetizer}」！\n酒菜ネット | ")}&hashtags=sakananet", target: '_blank', data: { toggle: "tooltip", placement: "bottom" },
            class: "bg-slate-950 text-white py-2 px-5 hover:shadow-lg rounded-full text-lg mx-4"  do %>
          <i class="fa-brands fa-x-twitter mr-2"></i>で共有
        <% end %>
      </div>
      <div class="flex justify-start my-5">
        <% if @post.user.avatar? %>
          <%= image_tag @post.user.avatar.url, class:"rounded-[5px] w-7 h-7 mr-5" %>
        <% else %>
          <%= image_tag 'default.jpg', class:"rounded-[5px] w-7 h-7 mr-5" %>
        <% end %>
        <%= @post.user.name %>
      </div>
      <%= @post.body %>
    </div>
  </div>
  <div class="md:w-2/3 mx-auto">
    <%= render 'comments/form', { post: @post, comment: @comment } %>
    <%= render 'comments/comments', { comments: @comments } %>
  </div>
</div>